:root {
    --border-clr: #ACCFA3;
    --background-clr: #E2EEDE;
    --bnt-clr: #407032;
}

main, .task {
    border: 3px solid var(--border-clr);
    border-radius: 10px;
}

.task {
    background-color: var(--background-clr);
}

.btn-primary {
    background-color: var(--bnt-clr);
    border: 1px solid var(--bnt-clr);
    transition: all 250ms ease-in-out;
}

.btn-primary:hover {
    background-color: var(--bnt-clr);
    border: 1px solid var(--bnt-clr);
    filter: contrast(3);
}

.options > .fas {
    font-size: 1.5rem;
    transition: all 250ms ease-in-out;
    color: var(--bnt-clr);
}

.options > .fas:hover {
    scale: 2;
    filter: contrast(3);
}

/* .fas + .fas {
    margin: 5rem;
} */

/* .options {
    gap: 2rem;
} */

.container {
    width: 800px;
}