* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* max-width: 1028px;
    min-width: 400px; */
}

body {
    font-family: 'Unbounded', cursive;
    max-width: 1028px;
    min-width: 400px;
    min-height: 100vh;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a::after {
    position: relative;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all 250ms ease-in-out;
}

a:hover::after {
    width: 100%;
    background-color: black;
}

.flex {
    display: flex;
}

header, footer {
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

header {
    position: fixed;
    z-index: 4;
    background-color: white;
    width: calc(100% - 2rem);
}

.links-area, .login-buttons {
    gap: 0.75rem;
    flex-shrink: 0;
}

.logo-area {
    position: relative;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.logo {
    height: 100%;
}

.links-area {
    display: none;
}

.banner {
    background: no-repeat url("./assets/bmw.jpg");
    background-position: center 20%;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
    font-size: 2rem;
    margin: 1rem;
}

.login-area, .login-menu, .menu-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .login-buttons {
    display: none;
} */

.menu-icon {
    height: 80%;
    cursor: pointer;
}

.menu-links-area {
    height: 0;
    opacity: 0;
    transition: 250ms ease-in-out;
}

.menu-icon:hover + .menu-links-area,
.menu-icon:focus + .menu-links-area,
.menu-links-area:hover,
.menu-links-area:focus {
    height: fit-content;
    opacity: 1;
    right: 0;
}

.menu-links-area {
    position: absolute;
    right: -300px;
    top: 3rem;
    padding: 1rem;
    flex-direction: column;
    gap: 0.75rem;
    height: fit-content;
    z-index: 5;
    opacity: 0;
    background-color: white;
}

.user-menu {
    height: 100%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.user-menu-dropdown {
    width: 120px;
    position: absolute;
    left: 300px;
    top: 3rem;
    padding: 1rem;
    flex-direction: column;
    gap: 0.75rem;
    /* height: 0; */
    opacity: 0;
    z-index: 5;
    background-color: white;
    transition: all 250ms ease-in-out;
}

.user-menu:hover .user-menu-dropdown {
    height: fit-content;
    opacity: 1;
    left: 0px;
}

.user-icon {
    height: 1.25rem;
    padding: 0.25rem;
}

.arrow-down-icon {
    height: 0.75rem;
    padding: 0.25rem 0.25rem 0 0.25rem;
}

.login-area {
    gap: 1.5rem;
}

.login-links {
    gap: 1rem;
}

.login-area > .login-links {
    gap: 1rem;
    display: none;
}

.menu-links-area > .login-links {
    flex-direction: column;
}

main {
    padding-top: 4rem;
}

.car-photo {
    width: calc(100% / 5);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.register-form, .login-form {
    margin: 3rem auto;
}

.register-form,
.login-form,
.message {
    display: grid;
    width: 300px;
}

input + label {
    margin-top: 1rem;
}

button {
    margin-top: 2.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    justify-self: center;
    font-size: 1.25rem;
}

input {
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 300px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

input + input {
    margin-top: 1rem;
}

.messages {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
}

.message {
    width: 100%;
    /* min-height: 50px; */
    padding: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    transition: all 250ms ease-in-out;
}

.message + .message {
    margin-top: 1rem;
}

.green {
    background-color: rgba(0, 255, 0, 0.5);
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
}

.blue {
    background-color: rgba(0, 0, 255, 0.5);
}

.login-form-section, .register-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.car-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(325px, 425px) ) ;
    margin: 2rem;
    justify-content: center;
}

.car-card {
    position: relative;
    font-size: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    max-width: 450px;
    margin: auto;
}

.car-img-container {
    aspect-ratio: 1 / 0.75;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background-color: black;
}

.car-img {
    aspect-ratio: 1 / 0.75;
    width: 100%;
    object-fit: cover;
    transition: all 750ms ease-in-out;
    transform-origin: 80% 50%;
}

.car-card:hover .car-img {
    scale: 1.2;
    transform: rotate3d(0, 1, 0, 15deg);
}

.car-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 2;
    background-color: white;
}

.car-price {
    display: grid;
    place-content: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0.25rem;
    right: 0.25rem;
    border-radius: 50%;
    width: 25%;
    font-size: 1.75rem;
    aspect-ratio: 1/1;
    padding: 0.25rem;
    opacity: 0.3;
    transition: all 250ms ease-in-out;
}

.car-card:hover .car-price,
.car-card:hover .car-button {
    opacity: 1;
}

.car-year {
    display: grid;
    place-content: center;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.85); */
    top: 0.5rem;
    left: 0.5rem;
    /* border-radius: 50%; */
    /* width: 12.5%; */
    /* aspect-ratio: 1/1; */
    padding: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

.car-icon {
    height: 2rem;
    /* padding: 0 2rem; */
}

.car-make, .car-model {
    font-size: 1.5rem;
}

.car-button {
    padding: 0.5rem 0.75rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.car-button::after {
    display: none;
}

.car-button:hover {
    background-color: white;
}

.car-update {
    top: 50%;
    left: 20%;
}
.car-delete {
    top: 50%;
    right: 20%;
}

.delete-dialog,
.update-dialog {
    display: grid;
    place-content: center;
    padding: 3rem;
}

.delete-dialog > form,
.update-dialog > form {
    display: grid;
    place-items: center;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 4rem;
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 3px 3px 0 0;
}



@media screen and (min-width: 876px) {
    .login-area > .login-links {
        display: flex;
    }

    .links-area {
        display: flex;
    }
    
    .menu-icon {
        display: none;
    }

    header {
        position: inherit;
    }

    main {
        padding-top: inherit;
    }

    .car-list {
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr) ) ;
    }
    
}