* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    place-items: center;
    background-color: #bbb;
}

th {
    padding: 0.5rem 1rem;
}

tr > :not(td:nth-child(1)) {
    text-align: center;
}

.participants > tr:nth-child(2n) {
    background-color: #eee;
}

.participants > tr:nth-child(2n + 1) {
    background-color: #ddd;
}

.participants > tr > td {
    padding: 0.075rem 0.5rem;
}

.participants {
    border: 1px solid #aaa;
    background-color: #fff;
}
