body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem;
}

a, .submit {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background: white;
    transition: all 250ms ease-in-out;
    color: black;
}

a:hover, .submit:hover {
    background-color: black;
    color: white;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 2.5rem 3px 3px 3px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 1rem;
    width: 20rem;
}

article > div {
    width: 80%;
}

article > *:not(img) {
    margin: 0.25rem;
    font-size: 1rem;
}

article > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    /* padding: 1rem; */
    border-radius: 2.5rem 0 2.5rem 0;
}

article > div > h3 {
    font-size: 1.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.box {
    width: 500px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

label, .submit {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

input {
    border: 0 solid black;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
}